/*
 * This file is part of the YesWiki Theme bs5margot.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
 .well {
  border: 3px solid var(--primary-color);
  background-color: var(--main-bg-color);
  padding: 1rem 1.75rem;
  border-radius: .5rem;
}