/*
 * This file is part of the YesWiki Theme bs5margot.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import 'general/_body';
@import 'general/_titles';
@import 'general/_links';
@import 'general/_not-font-awesome-compatibility';

img {
    border-radius: 3px;
}

// .label {
//     padding: .1em .5em !important;
// }

/* To prevent display trouble on small screen */
@media (max-width: 800px) {
    img, video, iframe {
      max-width: 100% !important;
    }
    .media > .media-left > img {
      max-width: initial !important;
    }
    .media {
      overflow: auto;
    }
}