/*
 * This file is part of the YesWiki Theme bs5margot.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/* Menu horizontal principal */

%navbar-links {
  color: var(--navbar-link-color);
  background-color: transparent;
  &:hover {
    color: var(--navbar-link-hover-color);
  }
}

#yw-topnav {
  margin:0;
  transition: top 0.3s ease-in-out;
  padding: .5rem 0;
  @media (max-width: 800px) {
    padding: 0;
  }
  z-index: 1001 !important;
  display: flex;
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: var(--bs5margot-yw-topnav-border-bottom);

  .container {
    width: 100%;
    padding: 0 .9rem;
    display: flex;
    align-items: center;
    max-width: initial; /* to rewrite definition by bootstrap */
  
    #navbarSupportedContent, .navbar-collapse {
      .copy-of-sidebar {
        display: none;
      }
    }
    @media(max-width:991px){
      flex-wrap: wrap;
      & > header.d-flex {
        flex-wrap: wrap;
      }
      #navbarSupportedContent, .navbar-collapse {
        .copy-of-sidebar {
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 5px;
          margin-top: 5px;
          position: relative;
          background-color: var(--navbar-link-color);
          .nav-item {
            border-bottom: none;
          }
          .nav-link {
            color: var(--navbar-bg-color);
            &:hover {
              color: var(--navbar-link-hover-color);
            }
          }
        }
      }
      .navbar-toggler {
        & + #navbarSupportedContent, & + .navbar-collapse {
          & + .yw-topnav-fast-access {
            display: none;
          }
        }
        &:not(.collapsed):not([aria-expanded=false]) {
          & + #navbarSupportedContent, & + .navbar-collapse {
            & + .yw-topnav-fast-access {
              display: block;
            }
          }
          .navbar-toggler-icon {
            background-image: none;
            /* fas fa-times */
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            padding-top: 5px;
            &::before {
              content: "\f00d";
            }
          }
        }
      }
      .yw-topnav-fast-access {
        flex-shrink: 0;
        .dropdown-menu.dropdown-menu-right[data-bs-popper] {
          right: auto;
        }
      }
    }
  }

  /* ----------------- */
  /*    POSITIONING    */
  /* ----------------- */
  .yw-fixed &,
  .yw-responsive & {
    margin: 0 -15px 15px;
    /*marge negative pour compenser le conteneur principal*/
  }
  /* le menu devient fixe quand on scrolle plus bas dans la page */
  &.fixable.nav-up,
  .yw-responsive &.fixable.nav-up {
    top: -80px;
  }

  /* ----------------- */
  /*      Brand        */
  /* ----------------- */
  
  @media (max-width: 800px) {
    .navbar-header {
      flex: 1;
      text-align: center
    }
  }
  .navbar-brand {
    @extend %navbar-links;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--main-title-fontfamily);
    img {
      max-height: 2.9rem;
      width:auto;
      margin-left: .9rem;
      margin-top: -.9rem;
    }
    
    @media (max-width: 800px) {
      .navbar-header &,
      .container > & { 
        width: 100%; 
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: break-spaces;
        line-height: 20px;
        flex: 1;
      }
    }
  }
  
  /* ----------------- */
  /*      MOBILE       */
  /* ----------------- */
  .btn-menu {
    display: none;
    @media (max-width: 800px) {
      display: block;
    }
  }
}

/* ----------------- */
/*      MOBILE       */
/* ----------------- */
.menu-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

@import "navbar/_navlinks";
@import "navbar/_buttons";
@import "navbar/_dropdown_menu";