/*
 * This file is part of the YesWiki Theme bs5margot.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
 
.theme-sidebar{
    background-color: var(--primary-color);
    border: var(--theme-sidebar-border);
    border-radius: var(--theme-sidebar-border-radius);
    box-shadow: var(--theme-sidebar-box-shadow);
    color: var(--theme-sidebar-text-color);
    display: block;
    padding: 0;
    position:fixed;
    right:0px;
    top:30vh;
    z-index:300;

    & > a, & > .include > a {
        position: relative;
        display: block;
        font-size:.1em;
        padding: 10px;
        visibility: hidden;
        & > *, &:hover > * {
            visibility: visible;
            font-size: var(--main-text-fontsize);
            opacity: 1;
        }
        & > span {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            text-align: right;
            &:hover,&:focus {
                opacity: 1;
            }
        }

        &:hover {
            background-color: var(--theme-sidebar-text-color);
            i{
                color: var(--primary-color);
            }
        }
    }
    & > .include > a {
        &:hover {
            background-color: var(--theme-sidebar-text-color);
            border-radius: var(--theme-sidebar-border-radius);
            color: var(--primary-color);
            left: -200px;
            padding: 5px;
            text-align: right;
            width:200px;
        }
        & > span {
            transition: all 0.3s ease-in-out;
            white-space: nowrap;
        }
    }

    /* TODO include content in burger menu */
    @media (max-width: 800px) {
        display:none;
    }

    i {
        color: var(--theme-sidebar-text-color);
    }
}