/*
 * This file is part of the YesWiki Theme bs5margot.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

// including default bootstrap
@use "../../node_modules/bootstrap/scss/bootstrap" with (
    // body
    $prefix: bs-,
    $line-height-base: 1.6,
    // titles
    $headings-font-family: var(--main-title-fontfamily),
    $headings-margin-bottom: .5em,
    $headings-font-weight: 800,
    // links
    $link-decoration: none,
    $link-hover-decoration: underline,
    // general
    $pre-color: inherit
);

@import "partials/_general";
@import "partials/_header";
@import "partials/_main-container";
@import "partials/_footer";

@import "partials/_converting_variables";

