/*
 * This file is part of the YesWiki Theme bs5margot.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

// including default bootstrap
@use "../../node_modules/bootstrap/scss/bootstrap" with (
    // body
    $prefix: bs-,
    $line-height-base: 1.6,
    // titles
    $headings-font-family: var(--main-title-fontfamily),
    $headings-margin-bottom: .5em,
    $headings-font-weight: 800,
    // links
    $link-decoration: none,
    $link-hover-decoration: underline,
    // general
    $pre-color: inherit,
    // buttons
    $btn-border-width: var(--btn-border),
    $btn-border-radius: var(--btn-border-radius),
    $btn-border-radius-lg: var(--btn-border-radius),
    $btn-border-radius-sm: var(--btn-border-radius),
    $btn-font-size: var(--main-text-fontsize),
    $btn-color: var(--neutral-light-color),
    $btn-padding-x: 1rem,
    $btn-padding-y: .5rem,
    $btn-font-weight: 600,
    $btn-box-shadow: none,
    $btn-link-color: var(--primary-color),
    $btn-link-hover-color: var(--primary-color),
    $btn-disabled-opacity: .4,
    // panels
    $card-border-width: 3px,
    $card-border-radius: 5px,
    $card-cap-padding-y: 0.6rem,
    $card-cap-padding-x: 1rem,
    //navs
    $nav-link-color: var(--neutral-color)
);

$margot-theme-colors: (
    "primary": --primary-color,
    "secondary-1": --secondary-color-1,
    "secondary-2": --secondary-color-2,
    "success": --success-color,
    "warning": --warning-color,
    "danger": --danger-color,
    "default": --neutral-color,
    "neutral": --neutral-color
);

@import "partials/_general";
@import "partials/_header";
// @import "partials/_navbar";
@import "partials/_main-container";
@import "partials/_footer";
@import "partials/_page-edit";
@import "partials/_bazar";
@import "partials/_admin";

@import "components/_buttons";
@import "components/_well";
@import "components/_section";
@import "components/_label";
@import "components/_alert";
@import "components/_panel";
@import "components/_nav";
@import "components/_backgrounds";
@import "components/_text";
@import "components/_modals";
@import "components/_forms";
@import "components/_checkboxes-radio";
@import "components/_tables";

@import "partials/_converting_variables";

